:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --bg: #0f0f0f;
  --text: #ffffff;
}

.info {
  font-size: 10px;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  transition: background 0.3s, color 0.3s;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
